1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

In [6]:
a=15
b=4

#Sum

In [9]:
a+b

19

#Difference

In [12]:
a-b

11

#product

In [19]:
a*b

60

#Division

In [22]:
a/b

3.75

#Floor Division

In [24]:
a//b

3

#Modulus

In [29]:
a%b

3

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [39]:
num1 = 10
num2 = 5.6
num3 = 4.43

#Type Conversion

In [67]:
num4=float(num1)
num5=int(num2)
num6=str(num3)
print (num4)
print (num5)
print(num6)
print(type(num4))
print(type(num5))
print(type(num6))

10.0
5
4.43
<class 'float'>
<class 'int'>
<class 'str'>

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [72]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

In [80]:
print(fruits[0])
print(fruits[-1])
print(fruits[3])

apple
orange
coconut

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

#Define LIst numbers

In [3]:
numbers =[10,20,30,40,50]
numbers

[10, 20, 30, 40, 50]

In [35]:
print(numbers[0:3]) #first 3 elements
print(numbers[-2:]) # lst 2 numbers
print(numbers[1:]) # all except 1
print(numbers[:-1]) # all excopt last
print(numbers[::-1])# list in reverse order

[10, 20, 30]
[40, 50]
[20, 30, 40, 50]
[10, 20, 30, 40]
[50, 40, 30, 20, 10]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [ ]:
Inserting at the end through using append method

In [11]:
nums=[1,2,3]
nums.append(10)
nums

[1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [13]:
nums.insert(0, 99)
print(nums)

[99, 1, 2, 3, 10]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [17]:
nums1=[4,5]
nums.extend(nums1)
print(nums)

[99, 1, 2, 3, 10, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [23]:
nums=[4,1,3,2]
nums.sort()
print(nums)

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [29]:
order=['burger', 'fries', 'coke', 'biryani']
print(order)

['burger', 'fries', 'coke', 'biryani']

In [31]:
order.append("ice cream")
print(order)

['burger', 'fries', 'coke', 'biryani', 'ice cream']

In [33]:
order.remove('biryani')
print(order)

['burger', 'fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [3]:
passengers=['Ali', 'Zara', 'Ahmed']
print(passengers)

['Ali', 'Zara', 'Ahmed']

In [5]:
passengers.insert(1, 'Sara')
print(passengers)

['Ali', 'Sara', 'Zara', 'Ahmed']

In [7]:
passengers.remove('Zara')
print(passengers)

['Ali', 'Sara', 'Ahmed']

In [9]:
passengers.reverse()
print(passengers)

['Ahmed', 'Sara', 'Ali']